*{
    margin: 0;
 
}
body{
    display: block;
   
   
    
}

#nota{
    border-radius: 200px;
    width: 200px;
    margin: 0; 
}

button{
    border-radius: 200px;
    background-color: transparent;
    width: 200px;
    justify-content: center;
}
